<a href="https://colab.research.google.com/github/JohnAngeloDazo/CPEN-21A-ECE-2-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Python Programming

In [ ]:
#Phyton Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

#Python Variable

In [ ]:
x=1
a, b = 0, 1
a,b,c= "zero","one","two"
print(x)
print(a)
print(b)
print(c)

1
zero
one
two

In [ ]:
d = "Sally" #This is a string
D = "Ana"
print(d)
e = 'John'
print(e)
print(D)

Sally
John
Ana

In [ ]:
print(type(d))
print(type(x))

<class 'str'>
<class 'int'>

#Casting

In [ ]:
f = float(4)
print(f)
g = int(5)
print(g)

4.0
5

#Multiple Variables with One Value

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [ ]:
x = "enjoying"
print("Phyton Programming is" " " + x)

Phyton Programming is enjoying

# Operations in Python

In [29]:
x = 5
y = 7
x += y #This is the same as x = x + y
print(x+y)
print(x*y)
print(x)

19
84
12

In [30]:
x = 5
y = 7

not(x>y or y==x)

True

In [31]:
x is y

False

In [32]:
x is not y

True